body {
    font-family: Arial, sans-serif;
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

textarea {
    font-size: 15px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#gerarOrcamento{
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
    font-weight: bold;
}
